{% extends "layout.twig" %}

{% block title %}Calculator | Math{% endblock %}
{% block bodyClass %}Calculator{% endblock %}

{% block content %}
            <div class="container">
                    <header>
                        <h2>CALCULATE</h2>
                    </header>
                    <p><i>"Don't Sweat the Petty Things and <strong>DON'T PET THE SWEATY THINGS</strong>"</i></p>
            </div><!-- /container -->
{% endblock %}
