{% extends "index.twig" %}

{% block title %}Weather App{% endblock %}

{% block body %}
<h1>MVC - Weather App</h1>
    {% if CITY %}
    <div class="weather">Current temperature in: 
        <div class="location">{{ CITY }}, {{ STATE }}
        </div>
        <div>is:
            <div class="temperature">{{ DEGREE_F }}&deg;
            </div>
        </div>
        <div><img class="img-weather" src="{{ GIF }}" />
        </div>
    </div>
    {% endif %}

    <form method="post" action="">
        <input class="city" name="city" placeholder="city">
        <input class="state" name="state" placeholder="state"><br>
        <input type="submit" value="Get Temperature">
    </form>
{% endblock %}
